<nav class='navbar navbar-default navbar-top' style='background: black;min-height:30px'>
    <div class="container-fluid">
        <div class='navbar-header'>
            <div class='container'>
                <ul class='navbar-nav nav'>
                    <li><a href='http://meetup.com/betanyc' target="_blank" >Events</a></li>
                    <li><a href='/' >Discussion Groups</a></li>
                    <li><a href='/' target="_blank" class='active'>Project</a></li>
                    <li><a href='http://data.beta.nyc' target="_blank" >Community Data</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>