<div ng-controller="ProjectsController" ng-init="find()">
  <div ng-hide="authSuccess">
    <input ng-model="password">
    <span class="help-inline" ng-show="authError">Password Incorrect</span>
    <button ng-click="submitPassword(password)">Submit</button>
  </div>

  <div ng-show="authSuccess">
    <div ng-repeat="project in projects">
      <a href="" ng-click="destroy(project)" >Delete</a> {{project.html_url}}
    </div>
    <form>
    <textarea ng-model="newUrl" style = "width: 500px; height: 20px; resize:none;">Add New</textarea>
    <button ng:click="create()">Save</button>
    </form>

    <button ng-click="update()">Update all and go to Projects list</button>
  </div>
</div>